h2 {
    position: relative;
    border-width: 1px;
    font-size: 25px;
    margin-left: 500px;
    margin-top:20px;
    border-radius: 8px;
    font-weight: bold;
}

p {
    position: relative;
    border-width: 1px;
    font-size: 23px;
    margin-left: 100px;
    margin-top:20px;
    border-radius: 8px;
    width: 250px;  
    font-weight: bold;      
}


